#container {
  display: grid;
  justify-content: center;
  align-items: center;
}
.boxLine {
  border: 1px solid #e3e3e3;
  margin: 10px;
}
.headingContent {
  position: relative;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #ff6b82;
  font-weight: 600;
  top: -25px;
  margin-left: 120px;
  width: 250px;
  font-size: 25px;
  background-color: white;
}
.radioboxContainer {
  position: relative;
  border: 2px solid #e3e3e3;
  padding: 35px;
  margin: 10px;
  cursor: pointer;
}
#container .radioboxContainer:nth-of-type(2) {
  border: 2px solid #ff6b82;
  cursor: pointer;
  background-color: #fff9fa;
}
input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  border: 2px solid #e3e3e3;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: #ff6b82;
  display: inline-block;
  border: 2px solid #ff6b82;
}
.unit {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 10px;
  position: relative;
  top: -7px;
}
.legend {
  position: absolute;
  top: -11px;
  left: 270px;
  text-align: center;
  width: 150px;
  padding: 5px 0;
  border: 1px solid #ff6b82;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ff6b82;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  color: white;
  font-size: 16px;
}
.triangle1 {
  width: 0;
  height: 0;
  position: absolute;
  right: 188px;
  top: -10.6px;
  border-left: 9.6px solid transparent;
  border-bottom: 11px solid #e14d64;
}
.triangle2 {
  width: 0;
  height: 0;
  position: absolute;
  right: 27.5px;
  top: -10.6px;
  border-right: 10px solid transparent;
  border-bottom: 11px solid #e14d64;
}
.offer {
  margin-left: 5px;
  border: 1px solid #ff6b82;
  border-radius: 3px;
  background-color: #ff6b82;
  color: white;
  padding: 2px 5px;
  font-family: sans-serif;
  position: relative;
  top: -7px;
}
.price {
  float: right;
  margin-left: 120px;
  font-family: sans-serif;
  position: relative;
  top: -7px;
}
.discountPrice {
  font-size: 20px;
  font-weight: 600;
}
.actualPrice {
  text-decoration: line-through;
  margin-top: 5px;
  font-size: 15px;
  color: #e3e3e3;
}
.dropdownTitle {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 20px;
  margin-left: 25px;
}
.dropdown {
  display: flex;
  gap: 10px;
}
.dropdownTitle + .dropdown {
  margin-bottom: 15px;
}
.dropdownSection {
  display: flex;
  gap: 10px;
}
.dropDownSection {
  display: none;
}
.radioboxContainer
  input[type="radio"]:checked
  + label
  + .offer
  + .price
  + .dropDownSection {
  display: block;
  margin-top: 20px;
  margin-left: 33px;
}
.price {
  float: right;
  margin-left: 120px;
  font-family: sans-serif;
  position: relative;
  top: -7px;
}

.discountPrice {
  font-size: 20px;
  font-weight: 600;
}
.actualPrice {
  text-decoration: line-through;
  margin-top: 5px;
  font-size: 15px;
  color: rgb(188, 187, 187);
}

.unitsection {
  display: flex;
  align-items: flex-start;
  gap: 120px;
}
.size,
.color {
  padding-right: 35px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.freeDeleivery {
  color: #ff6b82;
}
.totalDelivery {
  display: flex;
  margin: 12px;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  justify-content: space-between;
}
.button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: sans-serif;
  border: 1px solid #ff6b82;
  border-radius: 4px;
  background-color: #ff6b82;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
.plus {
  font-size: 25px;
}
.pumper {
  font-style: italic;
  text-align: end;
  margin: 10px;
  color: #a6a6a6;
  font-family: "Arial", sans-serif;
}

@media only screen and (max-width: 1015px) {
  .legend {
    position: absolute;
    top: -11px;
    left: 270px;
    text-align: center;
    width: 150px;
    padding: 5px 0;
    border: 1px solid #ff6b82;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #ff6b82;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 16px;
  }
}
@media only screen and (max-width: 700px) {
  .headingContent {
    position: relative;
    font-family: "Arial", sans-serif;
    text-align: center;
    color: #ff6b82;
    font-weight: 600;
    top: -25px;
    margin-left: 65px;
    width: 250px;
    font-size: 25px;
    background-color: white;
  }
  .radioboxContainer {
    position: relative;
    border: 2px solid #e3e3e3;
    /* padding: 30px 20px; */
    margin: 10px;
    cursor: pointer;
  }
  .price {
    float: right;
    margin-left: 50px;
    font-family: sans-serif;
    position: relative;
    top: -5px;
  }
  .legend {
    position: absolute;
    top: -11px;
    left: 200px;
    text-align: center;
    width: 150px;
    padding: 5px 0;
    border: 1px solid #ff6b82;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #ff6b82;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .headingContent {
    position: relative;
    font-family: "Arial", sans-serif;
    text-align: center;
    color: #ff6b82;
    font-weight: 600;
    top: -25px;
    margin-left: 50px;
    width: 250px;
    font-size: 25px;
    background-color: white;
  }
  .price {
    float: right;
    margin-left: 25px;
    font-family: sans-serif;
    position: relative;
    top: -4px;
  }
  .legend {
    position: absolute;
    top: -11px;
    left: 175.5px;
    text-align: center;
    width: 150px;
    padding: 5px 0;
    border: 1px solid #ff6b82;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #ff6b82;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .price {
    float: right;
    margin-left: 25px;
    font-family: sans-serif;
    position: relative;
    top: -29px;
  }
  .legend {
    position: absolute;
    top: -11px;
    left: 159px;
    text-align: center;
    width: 150px;
    padding: 5px 0;
    border: 1px solid #ff6b82;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #ff6b82;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 16px;
  }
}
@media only screen and (max-width: 370px) {
  .price {
    float: right;
    margin-left: 25px;
    font-family: sans-serif;
    position: relative;
    top: -29px;
  }
  .legend {
    position: absolute;
    top: -11px;
    left: 140px;
    text-align: center;
    width: 150px;
    padding: 5px 0;
    border: 1px solid #ff6b82;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #ff6b82;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 16px;
  }
}
@media only screen and (max-width: 360px) {
  .price {
    float: right;
    margin-left: 25px;
    font-family: sans-serif;
    position: relative;
    top: -5px;
  }
  .legend {
    position: absolute;
    top: -11px;
    left: 130px;
    text-align: center;
    width: 150px;
    padding: 5px 0;
    border: 1px solid #ff6b82;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #ff6b82;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 16px;
  }
}
@media only screen and (max-width: 350px) {
  .price {
    float: right;
    margin-left: 25px;
    font-family: sans-serif;
    position: relative;
    top: -29px;
  }
  .legend {
    position: absolute;
    top: -11px;
    left: 118px;
    text-align: center;
    width: 150px;
    padding: 5px 0;
    border: 1px solid #ff6b82;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #ff6b82;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 16px;
  }
}
