#container {
  display: grid;
  justify-content: center;
  align-items: center;
}
.boxLine {
  border: 1px solid #e3e3e3;
  margin: 10px;
}
.headingContent {
  position: relative;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #ff6b82;
  font-weight: 600;
  top: -25px;
  margin-left: 115px;
  width: 180px;
  font-size: 20px;
  background-color: white;
}
.radioboxContainer {
  position: relative;
  border: 2px solid #e3e3e3;
  padding: 30px;
  margin: 10px;
  cursor: pointer;
}
#container .radioboxContainer:nth-of-type(2) {
  border: 2px solid #ff6b82;
  cursor: pointer;
  background-color: #fff9fa;
}
input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  border: 2px solid #e3e3e3;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: #ff6b82;
  display: inline-block;
  border: 2px solid #ff6b82;
}
.unit {
  font-size: 14px;
  font-weight: 600;
  font-family: "Arial", sans-serif;
  margin-left: 10px;
  position: relative;
  top: -7px;
}
div.legend {
  --ribbon-size: 0.6em;
  --ribbon-size-negative: calc(var(--ribbon-size) * -1);
  position: absolute;
  top: 0;
  right: var(--ribbon-size);
  transform: translateY(var(--ribbon-size-negative));
  font-size: 0.75em;
  font-weight: 600;
  z-index: 0;
}

div.legend::before {
  content: "";
  border-width: var(--ribbon-size);
  border-style: solid;
  border-color: transparent transparent #d7445b transparent;
  position: absolute;
  top: var(--ribbon-size-negative);
  left: var(--ribbon-size-negative);
  right: var(--ribbon-size-negative);
  z-index: 0;
}

div.legend::after {
  content: "MOST POPULAR";
  background-color: #ff6b82;
  color: #ffffff;
  border-radius: 0 0 0.3em 0.3em;
  display: block;
  padding: 0.5em 1em;
  position: relative;
  z-index: 1;
}
.offer {
  margin-left: 5px;
  border: 1px solid #ff6b82;
  border-radius: 3px;
  background-color: #ff6b82;
  color: white;
  padding: 2px 5px;
  font-family: sans-serif;
  position: relative;
  top: -7px;
  font-size: 12px;
}
.price {
  float: right;
  margin-left: 120px;
  font-family: "Arial", sans-serif;
  font-size: 14.46px;
  position: relative;
  /* top: -7px; */
}
.discountPrice {
  font-size: 14.46px;
  font-weight: 600;
}
.actualPrice {
  font-weight: 400;
  text-decoration: line-through;
  margin-top: 5px;
  font-size: 10px;
  color: #e3e3e3;
}
.dropdownTitle {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  gap: 25px;
  margin-left: 22px;
}
.dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.dropdown > label {
  font-size: 13px;
  font-weight: 400;
}
.dropdownTitle + .dropdown {
  margin-bottom: 15px;
}
.dropdownSection {
  display: flex;
  gap: 10px;
}
.dropDownSection {
  display: none;
}
.radioboxContainer
  input[type="radio"]:checked
  + label
  + .offer
  + .price
  + .dropDownSection {
  display: block;
  margin-top: 20px;
  margin-left: 33px;
}
.price {
  float: right;
  margin-left: 120px;
  font-family: sans-serif;
  position: relative;
  top: -7px;
}

.unitsection {
  display: flex;
  align-items: flex-start;
  gap: 120px;
}
.size,
.color {
  padding-right: 35px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.totalDelivery {
  display: flex;
  margin: 12px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
}
.freeDeleivery {
  font-weight: 500;
  color: #ff6b82;
}
.total {
  font-size: 14px;
  font-weight: 500;
}
.button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  font-family: sans-serif;
  border: 1px solid #ff6b82;
  border-radius: 4px;
  background-color: #ff6b82;
  color: white;
  padding: 10px 0;
  margin: 10px;
  cursor: pointer;
}
.plus {
  font-size: 20px;
}
.pumper {
  font-style: italic;
  text-align: end;
  margin: 10px;
  font-size: 12px;
  color: #a6a6a6;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin-top: -5px;
}

@media only screen and (max-width: 700px) {
  .headingContent {
    position: relative;
    font-family: "Arial", sans-serif;
    text-align: center;
    color: #ff6b82;
    font-weight: 600;
    top: -25px;
    margin-left: 80px;
    width: 180px;
    font-size: 22px;
    background-color: white;
  }
  .radioboxContainer {
    position: relative;
    border: 2px solid #e3e3e3;
    /* padding: 30px 20px; */
    margin: 10px;
    cursor: pointer;
  }
  .price {
    float: right;
    margin-left: 50px;
    font-family: sans-serif;
    position: relative;
    top: -5px;
  }
}

@media only screen and (max-width: 600px) {
  .headingContent {
    position: relative;
    font-family: "Arial", sans-serif;
    text-align: center;
    color: #ff6b82;
    font-weight: 600;
    top: -25px;
    margin-left: 70px;
    width: 180px;
    font-size: 20px;
    background-color: white;
  }
  .price {
    float: right;
    margin-left: 25px;
    font-family: sans-serif;
    position: relative;
    top: -4px;
  }
}

@media only screen and (max-width: 350px) {
  .price {
    float: right;
    margin-left: 25px;
    font-family: sans-serif;
    position: relative;
    top: -25px;
  }
}
